<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <icon_name>cinnamon-layout</icon_name>
  <action id="org.wastalinux.cinnamon-layout-system">
    <description>ubuntucinnamon-Layout Authentication Needed</description>
    <message>Authentication is needed to run ubuntucinnamon-layout</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/cinnamon-layout-system</annotate>
  </action>
</policyconfig>
